= _('Hello from %s,') % Founden::Config.app_name
\
= _('%s is inviting you to join his network.') % @user.full_name
= _('To register, visit %s') % root_url
\
= _('Thanks')
\
= '---'
= _('Your %s team.') % Founden::Config.app_name
= Founden::Config.app_id
