= _('Hello from %s,') % Founden::Config.app_name
\
= _('%s is inviting you to join his network.') % @invitation.user.full_name
- if @invitation.invitee
  = _('To join the network, visit %s') % root_url(:anchor => '/invitations/%s' % @invitation.slug)
- else
  = _('To register, visit %s') % root_url
\
= _('Thanks')
\
= '---'
= _('Your %s team.') % Founden::Config.app_name
= Founden::Config.app_id
