= _('Hello from %s %s') % [Founden::Config.app_name, @user.full_name]
\
= _('%s mentioned you in a conversation: %s.') % [@author.full_name, @conversation.title]
= _('To reply, visit %s') % root_url(:anchor => '/conversations/%s' % @conversation.slug)
\
= _('Thanks')
\
= '---'
= _('Your %s team.') % Founden::Config.app_name
= Founden::Config.app_id
